@model ExpenseTracker.Models.Transaction

@{
    ViewData["PageTitle"] = Model.TransactionId == 0 ? "Create new Transaction" : "Edit Transaction";
    ViewData["PageActionUrl"] = null;
    ViewData["PageActionText"] = null;
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TransactionId">
                <div class="mb-1">
                    <ejs-datepicker id="Date" ejs-for="Date" placeholder="Date" 
                        floatLabelType="Auto" format="MMM-dd-yy"></ejs-datepicker>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <ejs-dropdownlist id="ddlCategory" ejs-for="CategoryId" 
                        dataSource="@ViewBag.Categories"
                        placeholder="Category"
                        allowFiltering="true"
                        ignoreAccent="true"
                        filterType="Contains"
                        floatLabelType="Auto"> 
                        <e-dropdownlist-fields value="CategoryId" text="TitleWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="CategoryId" class="text-danger fs-6"></span>
                </div>
                <div class="mb-1">
                    <ejs-numerictextbox id="Amount" ejs-for="Amount" 
                        placeholder="Amount" 
                        min=0 
                        format="c0" 
                        floatLabelType="Auto">
                    </ejs-numerictextbox>
                    <span asp-validation-for="Amount" class="text-danger fs-6"></span>
                </div>
                <div class="mb-1">
                    <ejs-textbox  multiline="true" id="Note" ejs-for="Note" placeholder="Note" floatLabelType="Auto"></ejs-textbox>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <ejs-button id="primarybtn" cssClass="e-success e-small" content="Submit" htmlAttribute="submit">
                </ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl "></i>
        </div>
    </div>
</div>


@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
